@import "../../app.scss";
.navbar{
    height: 100px;
    background: white;
    color:black;
    .wrapper{
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        @include mobile{
            justify-content: flex-end;
            padding: 20px;
        }

        span{
            font-weight: bold;
            margin-left: 15px;
            @include mobile{
                display: none;
            }
        }

        .links{
            display: flex;
            gap: 20px;
            align-items: center;

            img{
                height: 18px;
                aspect-ratio: 1/1;
            }
        }
    }
}


@media (-webkit-device-pixel-ratio: 1.25) {
    .navbar{
        .wrapper{
            max-width: 1266px;
        }
    }
  }

